
header{
   
    background-image: url("../img/banniere.png");
    background-position: fixed;
    border: 1px solid white;
    background-size: 1220px 100px;
    height: 100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
@media(max-width:480px) { /*portable*/
    nav
    {
        display: none;
    }
    .SHRINK
    {
        display: none;
    }
}
@media(min-width:480px) {
    
    nav
    {
        display:flex;
        justify-content: center;
        flex-grow: 1;
 
    }
    .SHRINK{
        width: 20%;
        height: 400px;
        
        left: 0;
    }
    .SHRINK > div{
        margin-top: 2%;
        width: 20%;
        position: fixed;
        display: flex;
        flex-direction: column;
    }
}
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;

   

}

nav > div
{
    margin:auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 200px;
    
}

nav>div:hover
{
    background-color: rgba(80, 170, 255, 0.685);
}
a
{
    font-size: larger;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
main
{
    background-image: url("../img/index_bg.png");
    background-attachment:fixed;
    background-size:  100%;
    
    display: flex;
    flex-direction:row;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    height:auto;   
}

article
{
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
}

fieldset
{
   max-width: 33%;
   min-width: 200px;
   height: 100%;
   margin: auto;
   margin-top: 10%;
}

.shirtImg
{
    width: 150%;
    height: 150%;
    margin-left: -27%;
}

footer
{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    background-color: black;
    /*border: 2px solid white;*/
    height: auto;
}

h1
{
text-align:center;
flex-grow: 1;
color: white;
}

h2
{
text-align:center;
color: white;
border:3px solid rgb(255, 255, 255);	
padding: 10px;
width:30%;
}
h4
{
padding: 5%;
color: white;
text-align: center;
width:auto;
}
h4 > div{
    margin: 5%;
}
.GROW{

   width: 80%;
}

.myNav
{
    background-color: white;
    border: 1px solid black;
}
.myNav > a
{
    color: black;
}
.center{
    margin: auto;
    margin-top: 2%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Classes
{
    color: white;
    border: 2px solid white;
    background-color: rgb(214, 171, 91);
    text-align: center;
    font-size: 100%;
    margin: auto;
    margin-top: 30%;
    padding: 3%;
    width: 40%;
    font-weight: bold;
    
}
.Classes:hover
{
    background-color: rgb(91, 195, 214);

}
.ContentClass
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#contact
{
    background-color: black;
}

